<html>

<head>
    <meta charset="utf-8">

</head>

<body>

    <div class="container-fluid" ng-controller="ProdutoController as pc">

        <div class="page-header">
            <h3> Cadastro de Produto </h3>
        </div>

        <form class="form-horizontal">

            <div class="row">

                <div class="col-md-1">
                    <label for="campoId" class="control-label">Identificador</label>
                </div>

                <div class="col-md-1">
                    <input id="campoId" type="text" class="form-control" placeholder="#" ng-model="pc.produto.id" readonly/>
                </div>

            </div>

            </p>

            <div class="row">

                <div class="col-md-1">
                    <label for="campoNome" class="control-label">Produto</label>
                </div>

                <div class="col-md-11">
                    <input id="campoNome" type="text" class="form-control" placeholder="Nome do Produto" ng-model="pc.produto.nome" />
                </div>

            </div>

            </p>

            <div class="row">

                <div class="col-md-1">
                    <label for="campoValor" class="control-label">Unitário</label>
                </div>

                <div class="col-md-5">

                    <div class="input-group">
                        <span class="input-group-addon">R$</span>
                        <input type="number" id="campoValor" placeholder="Valor Unitário do Produto" ng-model="pc.produto.unitario" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>

                </div>

                <div class="col-md-1">
                    <label for="campoCategoria" class="control-label">Categoria</label>
                </div>

                <div class="col-md-5">
                    <select class="form-control" id="campoUf" ng-model="pc.produto.categoria">
                    <option value="{{categoriaAtual.id}}" ng-repeat="categoriaAtual in pc.categorias">{{categoriaAtual.descricao}}</option>
                  </select>
                </div>

            </div>

            </p>

            </p>

            <div class="row">

                <div class="col-sm-offset-1 col-sm-11">

                    <div class="form-group">
                        <label for="comment">Descrição Breve</label>
                        <textarea ng-model="pc.produto.descricaoBreve" class="form-control" rows="2" id="comment"></textarea>
                    </div>

                </div>

            </div>

            </p>
            <div class="row">

                <div class="col-sm-offset-1 col-sm-11">

                    <div class="form-group">
                        <label for="comment">Detalhes Gerais</label>
                        <textarea ng-model="pc.produto.detalhes" class="form-control" rows="8" id="comment"></textarea>
                    </div>

                </div>

            </div>



            </p>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="text" ng-click="pc.novo()" class="btn btn-primary">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
                    </button>
                    <button type="text" ng-click="pc.salvar()" class="btn btn-success">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar
                    </button>
                    <button ng-click="pc.remover(pc.produto)" type="button" class="btn btn-danger" aria-label="Left Align">
                      <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Remover
                    </button>
                    <button ng-click="pc.consultarTodos()" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-default" aria-label="Left Align">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Listar Todos
                    </button>
                </div>
            </div>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Listagem de Produtos</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <div id="busca" class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-addon">Pesquisar</div>
                                            <input type="text" class="form-control" id="campoPesquisar" ng-model="filtroProdutos " placeholder="Digite aqui seu parâmetro de pesquisa" />
                                        </div>
                                    </div>
                                </div>
                        </p>

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Identificador</th>
                                    <th>Descrição</th>
                                    <th>Unitário</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- Listagem dos registros será aqui -->

                                <tr ng-repeat="produtoAtual in pc.produtos | filter: filtroProdutos">

                                    <td> {{produtoAtual.id}} </td>
                                    <td> {{produtoAtual.nome}} </td>
                                    <td> {{produtoAtual.unitario | currency}} </td>

                                    <td>
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="pc.editar(produtoAtual)" ng-model="editar" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                                          <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                      </button>
                                    </td>

                                </tr>

                            </tbody>

                        </table>

                        </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        </p>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>
