<html>

<head>
    <meta charset="utf-8">

</head>

<body>

    <div class="container-fluid" ng-controller="UsuarioController as uc" ng-init="uc.init()">

        <div class="page-header">
            <h3> Cadastro de Usuário </h3>
        </div>

        <form class="form-horizontal">

            <div class="row">

                <div class="col-md-1">
                    <label for="campoId" class="control-label">Identificador</label>
                </div>

                <div class="col-md-1">
                    <input id="campoId" type="text" class="form-control" placeholder="#" ng-model="uc.usuario.id" readonly/>
                </div>

            </div>

            </p>

            <div class="row">

                <div class="col-md-1">
                    <label for="campoNome" class="control-label">Nome</label>
                </div>

                <div class="col-md-8">
                    <input id="campoNome" type="text" class="form-control" ng-minLength="5" placeholder="Nome do Usuário" ng-model="uc.usuario.nome" />
                </div>

                <div class="col-md-1">
                    <label for="campoDataNascimento" class="control-label">Nascimento</label>
                </div>

                <div class="col-md-2">
                    <input id="campoDataNascimento" type="date" class="form-control" ng-minLength="5" placeholder="Data de nascimento do Usuário" ng-model="uc.usuario.dataNascimento" />
                </div>

            </div>

            </p>

            <div class="row">''

                <div class="col-md-1">
                    <label for="campoCpf" class="control-label">CPF</label>
                </div>

                <div class="col-md-2">
                    <input id="campoCpf" type="text" class="form-control" ng-minLength="5" placeholder="CPF do Usuário" ng-model="uc.usuario.cpf" />
                </div>

                <div class="col-md-1">
                    <label for="campoEmail" class="control-label">E-mail</label>
                </div>

                <div class="col-md-4">
                    <input id="campoEmail" type="email" class="form-control" ng-minLength="5" placeholder="E-mail do Usuário" ng-model="uc.usuario.email" />
                </div>

                <div class="col-md-1">
                    <label for="campoSenha" class="control-label">Senha</label>
                </div>

                <div class="col-md-3">
                    <input id="campoSenha" type="password" class="form-control" ng-minLength="5" placeholder="Senha" ng-model="uc.usuario.senha" />
                </div>

            </div>

            </p>

            <div class="row">

                <div class="col-md-1">
                    <label for="campoRua" class="control-label">Rua</label>
                </div>

                <div class="col-md-9">
                    <input id="campoRua" type="text" class="form-control" ng-minLength="5" placeholder="Rua do Usuário" ng-model="uc.usuario.rua" />
                </div>

                <div class="col-md-1">
                    <label for="campoNumero" class="control-label">Número</label>
                </div>

                <div class="col-md-1">
                    <input id="campoNumero" type="text" class="form-control" ng-minLength="5" placeholder="Nro" ng-model="uc.usuario.numero" />
                </div>

            </div>

            </p>

            <div class="row">

                <div class="col-md-1">
                    <label for="campoBairro" class="control-label">Bairro</label>
                </div>

                <div class="col-md-5">
                    <input id="campoRua" type="text" class="form-control" ng-minLength="5" placeholder="Bairro do Usuário" ng-model="uc.usuario.bairro" />
                </div>

                <div class="col-md-1">
                    <label for="campoComplemento" class="control-label">Complemento</label>
                </div>

                <div class="col-md-5">
                    <input id="campoComplemento" type="text" class="form-control" ng-minLength="5" placeholder="Complemento" ng-model="uc.usuario.complemento" />
                </div>

            </div>

            </p>

            <div class="row">

                <div class="col-md-1">
                    <label for="campoCidade" class="control-label">Cidade</label>
                </div>

                <div class="col-md-6">
                    <input id="campoCidade" type="text" class="form-control" ng-minLength="5" placeholder="Cidade do Usuário" ng-model="uc.usuario.cidade" />
                </div>

                <div class="col-md-1">
                    <label for="campoCep" class="control-label">CEP</label>
                </div>

                <div class="col-md-2">
                    <input id="campoCep" type="text" class="form-control" ng-minLength="5" placeholder="Cep do Usuário" ng-model="uc.usuario.cep" />
                </div>

                <div class="col-md-1">
                    <label for="campoUf" class="control-label">UF</label>
                </div>

                <div class="col-md-1">

                    <select class="form-control" id="campoUf" ng-model="uc.usuario.uf">
                      <option ng-repeat="estadoAtual in uc.estados">{{estadoAtual}}</option>
                    </select>

                </div>

            </div>

            </p>

            <div class="row">

                <div class="col-md-1">
                    <label for="campoTelefone" class="control-label">Telefone</label>
                </div>

                <div class="col-md-5">
                    <input id="campoTelefone" type="text" class="form-control" ng-minLength="5" placeholder="Telefone do Usuário" ng-model="uc.usuario.telefone" />
                </div>

                <div class="col-md-1">
                    <label for="campoCelular" class="control-label">Celular</label>
                </div>

                <div class="col-md-5">
                    <input id="campoTelefone" type="text" class="form-control" ng-minLength="5" placeholder="Celular do Usuário" ng-model="uc.usuario.celular" />
                </div>

            </div>

            </p>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="text" ng-click="uc.novo()" class="btn btn-primary">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
                    </button>
                    <button type="text" ng-click="uc.salvar()" class="btn btn-success">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar
                    </button>
                    <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="deletar(uc.usuario)">
                      <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Remover
                    </button>
                    <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-default" aria-label="Left Align">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Listar Todos
                    </button>
                </div>
            </div>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Listagem de Usuários</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <div id="busca" class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-addon">Pesquisar</div>
                                            <input type="text" class="form-control" id="campoPesquisar" ng-model="filtroUsuarios" placeholder="Digite aqui seu parâmetro de pesquisa" />
                                        </div>
                                    </div>
                                </div>
                        </p>

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Identificador</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- Listagem dos registros será aqui -->

                                <tr ng-repeat="usuarioAtual in uc.usuarios | filter: filtroUsuarios">

                                    <td> {{usuarioAtual.id}} </td>
                                    <td> {{usuarioAtual.nome}} </td>
                                    <td> {{usuarioAtual.cpf}} </td>

                                    <td>
                                        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="uc.editar(usuarioAtual)" ng-model="editar" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                                          <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                      </button>
                                    </td>

                                </tr>

                            </tbody>

                        </table>

                        </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        </p>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>
