<div class="container" ng-controller="LojaController as lc">

  <div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Categorias</p>
            <div class="list-group">

                <a ng-click="lc.seleciona(categoria)" class="list-group-item" ng-repeat="categoria in lc.categorias">{{categoria.descricao}}</a>

            </div>
        </div>

        <div class="col-md-9">

          <table class="table table-hover">

            <tbody>

              <tr ng-repeat="produtoAtual in lc.produtos | filter: {categoria: lc.filtroCategoria} ">

                <td> {{produtoAtual.nome}} </td>
                <td> {{produtoAtual.descricaoBreve}} </td>
                <td> {{produtoAtual.unitario | currency}} </td>

                <td>
                  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default"
                      aria-label="Left Align" ng-click="lc.comprar(produtoAtual)"
                      data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                    <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                  </button>
                </td>

              </tr>

            </tbody>

            </table>

            </div>

          </p>

        </div>

      </div>

      <hr>

      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; Omaha Commerce 2016</p>
              </div>
          </div>
      </footer>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Realizar Compra</h4>
              </div>
                <div class="modal-body">

                  <div class="container-fluid">

                      <div class="page-header">
                          <h3> {{lc.compra.produto.nome}} </h3>
                          <h3> {{lc.compra.produto.descricaoBreve}} </h3>
                      </div>

                      <form name="formUsuario" class="form-horizontal">
                        <div class="row">

                          <div class="col-md-1">
                            <label for="campoId" class="control-label">Quantidade</label>
                          </div>

                          <div class="col-md-3">
                            <input id="campoId" type="number" class="form-control" ng-model="lc.compra.quantidade" placeholder="Quantidade"/>
                          </div>

                          <div class="col-md-3">
                            <button type="button" class="btn btn-success" aria-label="Left Align" ng-click="lc.adicionarNoCarrinho(lc.compra)">
                              <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar no Carrinho
                            </button>
                          </div>

                        </div>
                      </form>
                    </div>
                </div>
                </p>
          </div>
          <div class="modal-footer">
              </p>
          </div>
          </div>
      </div>
  </div>

</div>
